@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 보이는 화면 기준!!!! */
html,
body {
    width: 100%;
    height: 100%;
}

/* 각 페이지(section)의 공통 클래스 */
.page {
    width: 100%;
    min-height: 100vh; /* 보이는 화면을 최소 높이로 */
    height: auto; /* 보이는 화면보다 내용이 많으면 자동으로 높이설정 */

    border-bottom: 1px solid #ff6500;
}

/* 영문에 적용할 클래스 */
.eng {
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
}

header {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    height: 100px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

header .title {
    display: none;
}

header .gnb {}

header .gnb ul {
    text-align: right;
}

header .gnb ul li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 40px;

}

header .gnb ul li a {
    line-height: 60px;
    padding: 0 30px;

    display: block;
    font-size: 22px;
    letter-spacing: -1.5px;
    border-radius: 60px;
    font-family: "Noto Sans", sans-serif;
    /* 영문폰트적용! */
    font-weight: 300;
}

header .gnb ul li.active a {
    background-color: #fff;
    color: #ff6500;
    font-weight: 400;
    font-weight: 400;
}


#home {
    background-image: url(img/bg_orange.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60% 100%;

    position: relative;
}

#home .title {
    position: absolute;
    /* #home을 기준으로 절대위치!!! */
    left: 100px;
    bottom: 100px;
}

#home .title .name {
    margin-bottom: 30px;
}

#home .title .name p {
    font-size: 36px;
    letter-spacing: -1px;
}

#home .title .name h2 {
    font-size: 70px;
}

#home .title .name h2 span {
    font-weight: 700;
    letter-spacing: -1px;
}

#home .title .des {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}

#home .profile {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 10%;
}

#home .profile img {
    width: 86%;
    display: block;
}

/*** 영상소개 페이지 *****************************************************************************************/

/* 공통으로 사용되는 클래스&디자인 */

section.project {
    display: flex;
    
}

.project .project-side {
    width: 34%;
    max-width: 600px;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: #ff6500;
}
.project-side .fixed-box {
    position: sticky;
    top: 100px;
}
.project-side .project-heading {
    margin-bottom: 70px;
}

.project-side .project-heading .num {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}

.project-side .project-heading .title {
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 24px;
}

.project-side .project-heading .subtitle {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1.2px;
}

.project-side .project-meta p {
    font-size: 22px;
}

.project-side .project-meta p:first-child {
    margin-bottom: 20px;
}

.project-side .project-meta p b {
    font-weight: 500;
}


.project .project-content {
    width: 66%;
    padding: 140px 0 100px 5%;
    box-sizing: border-box;
}

.project-content .project-info .project-des {
    font-size: 22px;
    display: flex;
}

.project-content .project-info .project-des:nth-child(2) {
    margin: 20px 0 40px;
}

.project-content .project-info .project-des h4 {
    width: 180px;
    font-weight: 400;
}

.project-content .project-info .project-des ul {
    line-height: 1.6;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    letter-spacing: -0.6px;
}

.project-content .project-info .project-des p {
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    letter-spacing: -0.6px;
}

.project-content .project-info .video-box {
    margin-left: 180px;
    width: min(680px, 100%);
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
}

.project-content .project-info iframe {
    width: 100%;
    height: 100%;
    border: none;
}


#info .project-side {
    background-color: transparent;
    border-right: 1px solid #ff6500;
    color: #ff6500;
}


/*** //영상소개 페이지 끝 *****************************************************************************************/



#contact {
    position: relative;
    /* #contact를 기준으로! */
    border-bottom: none;
}

#contact .content {
    position: absolute;
    /* .content 위치설정! */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 중앙맞추기! */
}

#contact .content .sec-title {
    margin-bottom: 50px;
    text-align: center;
}

#contact .content .sec-title h2 {
    font-size: 3.8rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

#contact .content .sec-title p {
    font-size: 2rem;
    font-weight: 300;
}

#contact .content .personal {
    padding-left: 40px;
}

#contact .content .personal p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 300;
}

#contact .content .personal p b {
    margin-right: 20px;
    font-weight: 500;
}

#contact .content .personal a:hover {
    text-decoration: underline;
    color: #ff6500;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    padding: 50px 0;
    text-align: center;
}